%html
  %head
    %meta{:charset => "utf-8"}
    %link{:href => "style/chart-style.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}
    %script{:charset => "utf-8", :src => "http://d3js.org/d3.v3.min.js"}
    / %script{:src => "libs/d3/d3.min.js "}
    %script{:src => "libs/jquery-1.11.2.js"}
    %script{:src => "app.js"}
  %body
    .introduction
      %h1
        Assignment 2 - The Coffee Dataset




    .description
      This following graph represents the Profit (Green) and Sales (Orange) vs time.
    %plot

    / .introduction
    / map
    .description
      The following map shows the profit by state. 

    <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 850px; height: 542px;'><noscript><a href='#'><img alt='Sheet 2 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GQ&#47;GQFNHP2PZ&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='850' height='542' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='path' value='shared&#47;GQFNHP2PZ' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GQ&#47;GQFNHP2PZ&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showVizHome' value='no' /><param name='showTabs' value='y' /></object></div>

    .reflection
      %h1
        Reflection
      %ul
        %li
          Which tool(s) did you use?
          %p I used d3 and Tableau. 
        %li
          Did you preprocess the data? Why or why not?
          %p I used python to parse the csv and aggregate sales and profit by month.
        %li
          What visual mappings / representations did you choose? Why those?
          %p I chose a dual y-axis line graph. This is a good way to compare quantitative financial data with a temporal component
        %li
          Are there any patterns/trends in the data that your visualization highlights?
          %p Yes, from a financial standpoint I can see that the Coffee company's profits went up during december of 2010. Moreover the company became  profitable (that is, the profits are more than the sales) around the May-June of 2012 period.
        %li
          Is your visualization useful? If yes, how so? If no, why not?
          %p I think my visualization is very useful. It gives a very good overview of the company's financial standing, along with a (if the user hovers on it) detailed month-month report
        %li
          Was anything harder than you expected? Easier?
          %p 
            There are many examples for d3 line graphs, however none incorporated the features i wanted. It was hard to apply a dual y axis implementation to some features like when you mousehover the two focus circles appear.


